apiVersion: v2
name: lsdobserve
version: "1.0.56"
appVersion: "1.0.1"
# Disabling kubeVersion because GKE is dumb
# kubeVersion: ">=v1.11.0"
description: A Helm chart for LSDobserve
keywords:
  - lsdobserve
  - kubernetes
  - grafana
  - prometheus
  - elastic
home: https://github.com/lsdopen/charts
sources:
  - https://github.com/lsdopen
maintainers:
  - name: LSD
    email: support@lsdopen.io
    url: https://lsdopen.io
deprecated: false
tillerVersion: ">=v3.2.1"

dependencies:
- name: prometheus
  version: "13.2.1"
  repository: https://prometheus-community.github.io/helm-charts
- name: prometheus-blackbox-exporter
  version: "4.10.2"
  repository: https://prometheus-community.github.io/helm-charts
- name: eck-operator
  version: "1.3.1"
  repository: https://helm.elastic.co
- name: grafana
  version: "6.2.1"
  repository: https://grafana.github.io/helm-charts
